:root {
  --aside-width: 200px;
}

@font-face {
  font-family: Kalnia;
  src: url(fonts/Kalnia-Regular.ttf);
}

@font-face {
  font-family: Kufi;
  src: url(fonts/ReemKufiFun-Regular.ttf)
}

body {
  background-color: white;
  overflow: hidden;
  margin: 0;
}

/* mobile */
@media only screen and (max-width: 750px) {
  aside#welcome {
    position: fixed;
    display: block;

    top: 10px;
    left: 10px;

    background-color: white;
    color: #5A8634;
    font-family: Kalnia, serif;

    height: 10vh;
    overflow: hidden;
  }

  aside#welcome h1 {
    margin: 0;
    font-size: 14vw;
    font-weight: 600;
  }

  aside#welcome p {
    display: inline;
    font-family: Kufi, serif;
    margin: 0;
  }

  article {
    position: fixed;
    top: 12vh;
    height: 88vh;
    height: calc(var(--vh, 1vh) * 88);
  }

  article section > div {
    max-width: 90%; 
  }
}

/* non-mobile */
@media only screen and (min-width: 750px) {
  aside#welcome {
    position: fixed;
    display: block;

    top: 10px;
    right: 0px;

    transform: rotate(-270deg) translateX(100%);
    transform-origin: right top;
    width: 100vh;
    height: var(--aside-width);

    background-color: white;
    color: #5A8634;
    font-family: Kalnia, serif;

    overflow: hidden;
  }

  aside#welcome h1 {
    margin: 0;
    font-size: 14vh;
    font-weight: 600;
  }

  aside#welcome p {
    margin: 0;
  }

  article {
    height: 100vh;
    margin-right: var(--aside-width);
  }

  article section > div {
    max-width: 450px;
  }
}

article {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-family: Kufi, sans-serif;
}

article section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100%;
}

article section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

article section:nth-child(1) {
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='meet'><rect width='100%' height='100%' fill='%23e55d14' /><circle cx='50%' cy='50%' r='300' fill='%23eebf3f' /></svg>");
  color: #e55d14;
}

article section:nth-child(2) {
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='meet'><rect width='100%' height='100%' fill='%23f5cae9' /><circle cx='50%' cy='50%' r='300' fill='%23e56b14' /></svg>");
  color: #f5cae9;
}

article section:nth-child(3) {
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='meet'><rect width='100%' height='100%' fill='%2397cde1' /><circle cx='50%' cy='50%' r='300' fill='%23ffb454' /></svg>");
  color: #5a8634;
}

article section:nth-child(4) {
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='meet'><rect width='100%' height='100%' fill='%239dc7a8' /><circle cx='50%' cy='50%' r='300' fill='%23ee6a93' /></svg>");
  color: white;
}

article section:nth-child(4) a {
  color: white;
}

.nomargin {
  margin: 0;
}

.info h2 {
  font-family: Kalnia, serif;
}

.agenda {
  font-size: 6ex;
  font-weight: 900;
}

.location {
  font-size: 3ex;
}

.practicalities h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

.practicalities p {
  font-weight: normal;
  margin: 0;
}
